
# BEGIN WordPress
# Instrukcijos (eilutės) tarp "BEGIN WordPress" ir "END WordPress" yra 
# generuojamos dinamiškai ir turėtų būti modifikuojamos tik per WordPress filtrus.
# Bet kokie pakeitimai instrukcijose tarp šių žymiklių bus perrašyti.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /ms-studijos.lt/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ms-studijos.lt/index.php [L]
</IfModule>

# END WordPress